body
{
    margin: 0px;
    display: flex;
    overflow-y: hidden;
}

.sidenav 
{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;
}

.sidenav a 
{
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    font-family: 'Times New Roman';
    color: #818181;
}

.sidenav a:hover 
{
    color: #f1f1f1;
}

.main 
{
    height: 100vh;
    width: calc(100% - 200px);
    float: left;
    padding: 15px;
    overflow-y: scroll;
}


.tabcontent
{
    display: none;
}
